.forgot_password {
    margin: 0;
    &_title {
        color: $COLOR_DHL_YELLOW;
        font-size: 28px;
        font-weight: normal;
        margin-top: 0;
    }
}
.reset_password {
    background: none;
    &__form {
        margin-top: 0;
    }
}