// Responsive Grid (Class-Based)
// TODO Fix grid for IE8. (last-child)
.row {
    @include clearfix;

    position: relative;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        @include span-columns($i);

        min-height: 1px;
    }
}

// Separate cycle for the higher priority
@for $i from 1 through 11 {
    .offset-#{$i} {
        @include shift($i);
    }
}

.col {
    display: inline-block;
    min-height: 1px;
    margin-right: flex-gutter(); // function From Neat
    vertical-align: middle;

    &:last-child {
        margin-right: 0;
    }
}

.col-devider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid $COLOR_GRAY_4;
}