<a class="data-table__sort"
   ng-if="sortable"
   ng-class="ewfDataTableHeaderCellCtrl.getClasses();"
   ng-click="ewfDataTableHeaderCellCtrl.handleClick();">
    <span
       ng-if="caption"
       ng-bind="caption">
    </span>
     <span
        ng-if="nlsCaption"
        nls="{{nlsCaption}}">
     </span>
    <i class="data-table__sort-arrow dhlicon-arrow-up"></i>
    <i class="data-table__sort-arrow dhlicon-arrow-down"></i>
</a>
<span ng-if="!sortable">
    <span
       ng-if="caption"
       ng-bind="caption">
    </span>
    <span
       ng-if="nlsCaption"
       nls="{{nlsCaption}}">
    </span>
</span>
