.calendar-canvas {
    background: #fff;
    z-index: 100;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.ccal {
    width: 18em;
    padding: 5px;
    font-size: 0.8em;
}
.ccal ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
.ccal li {
    display: inline-block;
    width: 14.2857%;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
}
.ccal li span {
    display: inline-block;
    line-height: 1.8em;
}
.ccal li.calmonth {
    width: 71.4285%;
}
.ccal li span {
    display: block;
    padding: 0.1em 0.05em;
}

.ccal li.calprev span,
.ccal li.calnext span {
    color: #aaa;
    background: #eee;
}
.ccal .calbody li.selected span {
    color: white;
    background: #0cf;
}

.ccal .calbody li.preselected span {
    color: white;
    background: #9ef;
}

.ccal * {
    user-select: none;
}

.today {
    color: brown;
    font-weight: bold;
}