.a,
.align {
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-center {
        text-align: center;
    }
}

.left {
    position: relative;
    z-index: 2;
    float: left;
}

.right {
    position: relative;
    z-index: 2;
    float: right;
}

.p-absolute {
    position: absolute;
    &.top {
        top: 0;
        float: none;
    }
    &.right {
        right: 0;
        float: none;
    }
    &.bottom {
        bottom: 0;
        float: none;
    }
    &.left {
        left: 0;
        float: none;
    }
}

.p-relative {
    position: relative;
}

.carat {
    @include dhlicon(carat-right, all) {
        margin-right: 0;
    };
}

.is-visible {
    visibility: visible;
}

.is-invisible {
    visibility: collapse;
}

.is-hidden {
    display: none;
}

.full-width {
    width: 100%;
}

.single-line {
    line-height: 2.2em;

    input {
        margin-bottom: 0 !important;
    }
}

.m,
.margin {
    $none: 0 !important;
    $default: ($BASE_MARGIN * 2) !important;
    $small: $BASE_MARGIN !important;
    $large: ($BASE_MARGIN * 4) !important;

    &-none {
        margin: 0 $none;
    }
    &-top {
        margin-top: $default;
        &-small {
            margin-top: $small;
        }
        &-large {
            margin-top: $large;
        }
        &-none {
            margin-top: $none;
        }
    }
    &-right {
        margin-right: $default;
        &-small {
            margin-right: $small;
        }
        &-large {
            margin-right: $large;
        }
        &-none {
            margin-right: $none;
        }
    }
    &-bottom {
        margin-bottom: $default;
        &-small {
            margin-bottom: $small;
        }
        &-large {
            margin-bottom: $large;
        }
        &-none {
            margin-bottom: $none;
        }
    }
    &-left {
        margin-left: $default;
        &-small {
            margin-left: $small;
        }
        &-large {
            margin-left: $large;
        }
        &-none {
            margin-left: $none;
        }
    }
}

.b,
.border {
    &-none {
        border: 0 !important;
    }
    &-top-none {
        border-top: 0 !important;
    }
    &-right-none {
        border-right: 0 !important;
    }
    &-bottom-none {
        border-bottom: 0 !important;
    }
    &-left-none {
        border-left: 0 !important;
    }
}

.padding-none {
    padding: 0 !important;
}

.number {
    number-format: '###,##0.00', 'number';
}

.scrolling {
    overflow: auto;
    max-height: 300px;
}

.clear {
    clear: both;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.zoom-in {
    cursor: zoom-in;
}

.tall {
    line-height: 30px;
}

.no-bullets {
    margin: 0;
    padding: 0;
    list-style: none;
}

.horizontal {
    li {
        display: inline-block;
        margin-right: $INPUT_MARGIN;
    }
}

.nowrap {
    white-space: nowrap;
}

.link {
    color: $COLOR_LINK;
    &_gray {
        color: $COLOR_GRAY_1 !important;
    }
    &_inherit {
        color: inherit;
    }
}

.list {
    &_slim {
        li {
            margin: 0;
        }
    }
}

.text {
    &_gray {
        color: $COLOR_GRAY_3;
    }

    &_ellipsis {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}