// Base
$BASE_BORDER_RADIUS: 2px;
$PADDING_BASE_VERTICAL: 10px;
$PADDING_BASE_HORIZONTAL: 10px;

$PADDING_SMALL_VERTICAL: 5px;
$PADDING_SMALL_HORIZONTAL: 5px;

$PADDING_BIG_VERTICAL: 15px;
$PADDING_BIG_HORIZONTAL: 15px;

$PADDING_LARGE_VERTICAL: 20px;
$PADDING_LARGE_HORIZONTAL: 20px;

$BASE_FONT_SIZE: 14px;

$BASE_MARGIN: 10px;

// Colors
$COLOR_DHL_YELLOW: #fecb2f;
$COLOR_DHL_RED: #d10d1e;

$COLOR_LINK: #189aca;

$COLOR_GRAY_1: #333;
$COLOR_GRAY_2: #666;
$COLOR_GRAY_3: #7a7a7a;
$COLOR_GRAY_4: #a1a1a1;
$COLOR_GRAY_5: #ccc;
$COLOR_GRAY_6: #e9e9e9;
$COLOR_GRAY_7: #f1f1f1;
$COLOR_GRAY_8: #f9f9f9;

$COLOR_GREEN: #2bb82b;
$COLOR_GREEN_2: #31d467;

$COLOR_RED: #d62727;
$COLOR_BLUE: #189aca;


// Scaffolding
$BODY_BG: $COLOR_GRAY_7;
$TEXT_COLOR: $COLOR_GRAY_3;
$LINK_COLOR: #189aca;
//$LINK_HOVER_COLOR: #189aca;

// Area styles
$AREA_BG: #fff;
$SYNOPSIS_BG: $COLOR_GRAY_6;
$CALLOUT_BG: $COLOR_GRAY_7;
$CALLOUT_FG: $COLOR_GRAY_1;

// Container sizes
$CONTAINER_DESKTOP: 1100px;
$CONTAINER_TABLET: 768px;
$CONTAINER_MOBILE: 568px;

//new-breakpoint(max-width 480px 4);

$CONTAINER_PADDING: 20px;
$CALLOUT_PADDING: 15px;

// Input
$INPUT_BG: #fff;
$INPUT_COLOR: $COLOR_GRAY_1;
$INPUT_BORDER: $COLOR_GRAY_4;
$INPUT_BORDER_RADIUS: $BASE_BORDER_RADIUS;

$INPUT_REQUIRED_BORDER: $COLOR_GRAY_3;

$INPUT_DISABLED_COLOR: $COLOR_GRAY_4;
$INPUT_DISABLED_BG: $COLOR_GRAY_6;

$INPUT_ERROR_COLOR: $COLOR_RED;

$INPUT_SUCCESS_COLOR: $COLOR_GREEN;

$LABEL_COLOR: $COLOR_GRAY_2;

$INPUT_WIDTH_TINY: 50px;
$INPUT_WIDTH_SMALL: 60px;
$INPUT_WIDTH_BASE: 230px;
$INPUT_WIDTH_LARGE: 500px;
$INPUT_WIDTH_HUGE: 75%;
$INPUT_MARGIN: 10px;
$INPUT_MARGIN_SMALL: 5px;

// Buttons
$BUTTON_BORDER_RADIUS: $BASE_BORDER_RADIUS;

// Checkbox & radio button
$CHECKBOX_SIZE: 16px;
$CHECKBOX_DOT_SIZE: $CHECKBOX_SIZE / 2;
$CHECKBOX_SIZE_SMALL: 12px;
$CHECKBOX_DOT_SIZE_SMALL: $CHECKBOX_SIZE_SMALL / 2;

$CHECKBOX_BORDER_COLOR: $COLOR_GRAY_3;
$CHECKBOX_DOT_COLOR: $COLOR_GRAY_1;

$HEADER_HEIGHT: 55px;
$HEADER_NAV_HEIGHT: 45px;

$TAB_ACTIVE_BG: #08f;

// Z-index layers
$Z_INDEX_1: 1;
$Z_INDEX_2: 100;
$Z_INDEX_3: 200;
$Z_INDEX_4: 500;
$Z_INDEX_5: 1000;
$Z_INDEX_10: 10000;

// Modal
$MODAL_BG: #fff;
$MODAL_BORDER_RADIUS: 10px;
$MODAL_Z_INDEX: 11000;

// Old Variables
// TODO: Reassign variables

$white: #fff;
$teal: #189aca;
$fgCallout: $COLOR_GRAY_1;