<div ewf-modal nls-title="shipment.shipment_type_enhanced_customs_invoice_saved_template_popup_title" id="customsInvoiceTemplates">
    <div class="dashboard__cards a-center">
        <a class="dashboard__arrow dashboard__arrow_left"><i class="dhlicon-carat-left"></i></a>
        <div class="dashboard__card">
            <ul class="no-bullets list_slim margin-bottom">
                <li><b>Saved Invoice Template Name 1</b></li>
                <li>Commercial (no, there is no need to translate it)</li>
                <li>Permanent (yes, it's draft layout)</li>
                <li>DAP</li>
            </ul>
            <ul class="no-bullets list_slim margin-bottom">
                <li><b>Commodities</b></li>
                <li>Hand-knit wool sweaters</li>
            </ul>
            <a class="btn btn_success btn_regular full-width">Select Invoice</a>
        </div>
        <div class="dashboard__card">
            <ul class="no-bullets list_slim margin-bottom">
                <li><b>Saved Invoice Template Name 2</b></li>
                <li>Commercial</li>
                <li>Permanent</li>
                <li>DAP</li>
            </ul>
            <ul class="no-bullets list_slim margin-bottom">
                <li><b>Commodities</b></li>
                <li>Widget 1</li>
            </ul>
            <a class="btn btn_success btn_regular full-width">Select Invoice</a>
        </div>
        <div class="dashboard__card">
            <ul class="no-bullets list_slim margin-bottom">
                <li><b>Saved Invoice Template Name 3</b></li>
                <li>Commercial</li>
                <li>Permanent</li>
                <li>DAP</li>
            </ul>
            <ul class="no-bullets list_slim margin-bottom">
                <li><b>Commodities</b></li>
                <li>Wool cap</li>
            </ul>
            <a class="btn btn_success btn_regular full-width">Select Invoice</a>
        </div>
        <a class="dashboard__arrow dashboard__arrow_right"><i class="dhlicon-carat-right"></i></a>
    </div>

    <p class="a-right margin-bottom-none">
        <a nls="shipment.shipment_type_enhanced_customs_invoice_saved_template_popup_all_title"></a>
    </p>
</div>
