<div ewf-modal nls-title="shipment.shipment_type_packages_customs_invoice_commodity_popup_title">
    <div class="form-row">
        <label nls="shipment.shipment_type_packages_item_attributes_description"></label>
        <input type="text" class="input input_width_full"
           ng-model="itemAttrFormCtrl.commodityCodeSearchQuery"
           ng-change="itemAttrFormCtrl.getCommodityCodes()">
    </div>

    <div class="form-row">
        <label nls="shipment.shipment_type_packages_customs_invoice_commodity_category_label"></label>
        <span class="select full-width">
            <select name="commodityCodeCategory"
               ng-options="category.name for category in itemAttrFormCtrl.commodityCodesCategories track by category.id"
               ng-change="itemAttrFormCtrl.getCommodityCodeSubcategories()"
               ng-model="itemAttrFormCtrl.commodityCodesCurrentCategory">
            </select>
        </span>
    </div>
    <div class="form-row"
       ng-if="itemAttrFormCtrl.commodityCodesCurrentCategory.id">
        <label nls="shipment.shipment_type_packages_customs_invoice_commodity_subcategory_label"></label>
        <span class="select full-width">
            <select name="commodityCodeSubcategory"
               ng-options="subcategory.name for subcategory in itemAttrFormCtrl.commodityCodesCurrentCategory.subcategories track by subcategory.id"
               ng-change="itemAttrFormCtrl.getCommodityCodes()"
               ng-model="itemAttrFormCtrl.commodityCodesCurrentSubCategory">
            </select>
        </span>
    </div>
    <div class="form-row"
       ng-if="itemAttrFormCtrl.isCommodityCodesVisible()">
        <table class="table table_zebra table_hover">
            <thead>
                <tr>
                    <th nls="shipment.shipment_type_packages_customs_invoice_commodity_table_code_label"></th>
                    <th nls="shipment.shipment_type_packages_customs_invoice_commodity_table_description_label"></th>
                    <th nls="shipment.shipment_type_packages_customs_invoice_commodity_table_tariff_label"></th>
                    <th nls="shipment.shipment_type_packages_customs_invoice_commodity_table_tax_label"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="commodity in itemAttrFormCtrl.commodityCodesList" ng-click="itemAttrFormCtrl.pickCommodityCode(commodity)">
                    <td>{{commodity.id}}</td>
                    <td>
                        <p class="margin-none">{{commodity.name}}</p>
                        <small>{{commodity.description}}</small>
                    </td>
                    <td>{{commodity.tariff | number : 1}}%</td>
                    <td>{{commodity.tax | number : 1}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>