<div ewf-modal nls-title="shipment.shipment_type_packages_customs_invoice_save_popup_title">
    <div class="form-row">
        <label class="block" nls="shipment.shipment_type_packages_customs_invoice_save_product_name"></label>
        <input type="text" class="input input_width_full"
           ng-model="name"
           ng-change="itemAttrFormCtrl.setSavingRowData(name)">
    </div>
    <div class="form-row">
        <label class="block" nls="shipment.shipment_type_packages_customs_invoice_save_product_group"></label>
        <span class="select full-width">
            <select
               ng-model="option"
               ng-options="group.id as group.name for group in itemAttrFormCtrl.productGroups"
               ng-change="itemAttrFormCtrl.setSavingRowData('', option)">
            </select>
        </span>
    </div>
    <div class="row right margin-top">
        <button type="button" class="btn" nls="shipment.shipment_type_packages_customs_invoice_save_product_button"
           ng-disabled="!itemAttrFormCtrl.productGroups.length"
           ng-click="itemAttrFormCtrl.saveItemAttributesRow()">
        </button>
    </div>
</div>