.checkbox,
.radio {
    position: relative;
    margin-bottom: 5px;
    display: block;

    .msg-error {
        position: absolute;
        visibility: collapse;
        white-space: nowrap;
    }
    .ng-invalid.ng-dirty ~ .msg-error_permanent {
        display: block;
        visibility: visible;
        animation: blur 1s 2s forwards;
    }
    &.ng-invalid.ng-dirty ~ label:before,
    .ng-invalid.ng-dirty ~ label:before {
        border: 1px solid $INPUT_ERROR_COLOR;
    }

    &__input {
        position: absolute;
        opacity: 0;

        .lt-ie9 & {
            top: 3px;
        }

        .label:before {
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 5px 2px transparent;
        }

        &:focus + .label:before {
            border-color: $COLOR_GRAY_1;
            background: $COLOR_GRAY_8;
            box-shadow: inset 0 1px 1px transparent, 0 0 5px 2px lighten($INPUT_BORDER, 20%);
        }

        &:checked {
            + .label:after {
                opacity: 0.9;
            }

            &:focus + .label:after {
                opacity: 1;
            }
        }

        &[disabled] + .label {
            &:before {
                border-color: $INPUT_DISABLED_COLOR;
                background-color: $INPUT_DISABLED_BG;
            }
        }

        &.ng-valid-required {
            & + .label {
                &:after {
                    color: $INPUT_SUCCESS_COLOR;
                }
            }
        }

        &.ng-invalid-required {
            &:focus {
                & + .label:before {
                    box-shadow: inset 0 1px 1px transparent, 0 0 5px 2px lighten($INPUT_ERROR_COLOR, 20%);
                }

                & + * + .msg-error {
                    display: block;
                }
            }

            & + .label {
                &:before {
                    border-color: $INPUT_ERROR_COLOR;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 0 1px $INPUT_ERROR_COLOR;
                }

                &:after {
                    color: $INPUT_ERROR_COLOR;
                }
            }
        }
    }
    .label {
        position: relative;
        display: inline-block;
        min-height: $CHECKBOX_SIZE;
        padding-left: $CHECKBOX_SIZE + 5;
        cursor: pointer;
        transition: all 0.2s;
        font-size: 14px;
        line-height: $CHECKBOX_SIZE;

        &:empty {
            padding-left: $CHECKBOX_SIZE;
        }

        &:before,
        &:after {
            position: absolute;
            box-sizing: border-box;
            content: '';

            .lt-ie9 & {
                display: none !important;
            }
        }

        &:before {
            top: 0;
            left: 0;
            width: $CHECKBOX_SIZE;
            height: $CHECKBOX_SIZE;
            border: 1px solid $CHECKBOX_BORDER_COLOR;
            background-color: #fff;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 5px 2px transparent;
            transition: box-shadow 0.2s;
        }

        &:after {
            z-index: 10;
            transition: background 0.2s, opacity 0.2s;
            opacity: 0;
        }
    }
    &_small {
        .label {
            min-height: $CHECKBOX_SIZE_SMALL;
            padding-left: $CHECKBOX_SIZE_SMALL + 5;
            font-size: 12px;
            font-size: 11px;
            line-height: $CHECKBOX_SIZE_SMALL;
            margin-bottom: 0;

            &:empty {
                padding-left: $CHECKBOX_SIZE_SMALL;
            }

            &:before {
                width: $CHECKBOX_SIZE_SMALL;
                height: $CHECKBOX_SIZE_SMALL;
            }
        }
    }

    &_inline {
        display: inline-block;
        margin-right: 10px;
    }

    &__details {
        color: $COLOR_GRAY_4;
        font-size: 11px;
    }
}

.radio {
    &__input[disabled] + .label:after {
        background-color: $INPUT_DISABLED_COLOR;
    }

    .label {
        &:before {
            border-radius: 50%;
        }

        &:after {
            top: ($CHECKBOX_SIZE - $CHECKBOX_DOT_SIZE) / 2;
            left: ($CHECKBOX_SIZE - $CHECKBOX_DOT_SIZE) / 2;
            width: $CHECKBOX_DOT_SIZE;
            height: $CHECKBOX_DOT_SIZE;
            border-radius: 50%;
            background-color: $CHECKBOX_DOT_COLOR;
        }
    }

    &_small {
        .label:after {
            top: ($CHECKBOX_SIZE_SMALL - $CHECKBOX_DOT_SIZE_SMALL) / 2;
            left: ($CHECKBOX_SIZE_SMALL - $CHECKBOX_DOT_SIZE_SMALL) / 2;
            width: $CHECKBOX_DOT_SIZE_SMALL;
            height: $CHECKBOX_DOT_SIZE_SMALL;
        }
    }
}

.checkbox {
    &__input[disabled] + .label:after {
        color: $INPUT_DISABLED_COLOR;
    }

    .label {
        &:before {
            border-radius: $INPUT_BORDER_RADIUS;
        }

        @include dhlicon(check, after, min) {
            position: absolute;
            top: 0;
            left: 0;
            width: $CHECKBOX_SIZE;
            text-align: center;
            color: $COLOR_GRAY_2;
            font-size: 14px;
            line-height: $CHECKBOX_SIZE;
        }
    }

    &__input {
        &.partial {
            + .label:after {
                top: 4px;
                left: 4px;
                width: $CHECKBOX_SIZE - 8;
                height: $CHECKBOX_SIZE - 8;
                content: '';
                opacity: 1;
                border-radius: 1px;
                background: $COLOR_GRAY_5;
                line-height: $CHECKBOX_SIZE - 8;
            }
        }
    }

    &_single {
        .label {
            &:before {
                top: 7px;
            }

            &:after {
                top: 7px;
            }
        }
    }

    &_small {
        .label:after {
            width: $CHECKBOX_SIZE_SMALL;
            font-size: 12px;
            line-height: $CHECKBOX_SIZE_SMALL;
        }

        .checkbox__input {
            &.partial {
                + .label:after {
                    top: 3px;
                    left: 3px;
                    width: $CHECKBOX_SIZE_SMALL - 6;
                    height: $CHECKBOX_SIZE_SMALL - 6;
                    line-height: $CHECKBOX_SIZE_SMALL - 6;
                }
            }
        }
    }
}

.form-group {
    padding: 10px 10px 5px;
    border: 1px solid $COLOR_GRAY_5;
    border-radius: $BASE_BORDER_RADIUS;

    &_small {
        padding: 5px 10px;
    }

    &.is-invalid {
        border-color: $COLOR_RED;
    }

    .msg-error {
        width: 100%;
        margin: 5px -10px -5px;
        border-radius: 0;
    }
}