span.range,
span.slide {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}
.noUi-target,
.noUi-target * {
    box-sizing: border-box;
    user-select: none;

    touch-action: none;
}

.noUi-base {
    position: absolute;
    width: 100%;
    height: 100%;
}
.noUi-origin {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.noUi-handle {
    position: relative;
    z-index: 1;
    display: block;

    .tooltip {
        visibility: visible !important;
        opacity: 1 !important;
        color: #000;
        * {
            transform: translateX(0);

            position: relative;
            bottom: 0;
            left: 0;
            visibility: visible !important;
            min-width: 0;
            margin-bottom: 0;
            padding: 0;
            opacity: 1 !important;
            color: inherit;
            background-color: inherit;
            box-shadow: none;
            font-weight: bold;
            &:after {
                content: none;
            }
        }
    }
}
.noUi-stacking .noUi-handle {
    z-index: 10;
}
.noUi-stacking + .noUi-origin {
    *z-index: -1;
}
.noUi-state-tap .noUi-origin {
    transition: left .3s,top .3s;
}
.noUi-state-drag * {
    cursor: inherit!important;
}
.noUi-horizontal {
    height: 12px;
}
$handleSize: 14px;
.noUi-horizontal .noUi-handle {
    top: $handleSize*-1.75;
    left: $handleSize/-2;
    width: $handleSize;
    height: $handleSize;
    &:after {
        position: relative;
        top: ($handleSize - 1);
        left: 0;
        display: block;
        content: '';
        border-top: $handleSize/2 solid $COLOR_DHL_YELLOW;
        border-right: $handleSize/2 solid transparent;
        border-left: $handleSize/2 solid transparent;
    }
    &.noUi-active,
    &:focus {
        outline: 0;
        &:after {
            border-top-color: $COLOR_GRAY_3;
        }
    }
}
.noUi-horizontal.noUi-extended {
    padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin {
    right: -15px;
}
.noUi-vertical {
    width: 12px;
}
.noUi-vertical .noUi-handle {
    top: $handleSize/-2;
    left: $handleSize*-0.75;
    width: $handleSize;
    height: $handleSize;
    &:after {
        position: relative;
        top: 0;
        left: ($handleSize - 1);
        display: block;
        content: '';
        border-top: $handleSize/2 solid transparent;
        border-bottom: $handleSize/2 solid transparent;
        border-left: $handleSize/2 solid $COLOR_DHL_YELLOW;
    }
    &.noUi-active,
    &:focus {
        outline: 0;
        &:after {
            border-left-color: $COLOR_GRAY_3;
        }
    }
}
.noUi-vertical.noUi-extended {
    padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin {
    bottom: -15px;
}
.noUi-connect {
    transition: background 450ms;
}
.noUi-dragable {
    cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}
.noUi-handle {
    cursor: default;
}

[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
    box-sizing: border-box;
}
.noUi-pips {
    position: absolute;
    font: 400 .85em Arial;
}

/* Values;
 *
 */
.noUi-value {
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

/* Markings;
 *
 */
.noUi-marker {
    position: absolute;
    background: #ccc;
}
.noUi-marker-sub,
.noUi-marker-large {
    background: $COLOR_GRAY_5;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
    top: 100%;
    right: 5px;
    left: 5px;
    height: 50px;
    padding: 5px 0;
}
.noUi-value-horizontal {
    transform: translateX(-50%);

    padding-top: 10px;
}

.noUi-marker-horizontal.noUi-marker {
    width: 2px;
    height: 5px;
    margin-left: -1px;
}
.noUi-pips-vertical {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 15px;
}
.noUi-value-vertical {
    transform: translateY(-50%);

    width: 100%;
    margin-left: 15px;
    text-align: left;
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}
.range,
.slide {
    min-width: 300px;
    &.vertical {
        min-width: 0;
    }
    &.noticks {
        .noUi-marker {
            display: none;
        }
    }
    .slider_object {
        position: relative;
        display: block;
        height: 8px;
        margin-top: 60px;
        margin-bottom: 40px;
        padding: 0;

        &.noUi-horizontal {
            .noUi-handle {
                .tooltip {
                    position: absolute;
                    box-sizing: border-box;
                    margin-bottom: 5px;
                    padding: 1px 5px;
                    text-align: center;
                    white-space: nowrap;
                    background-color: #fff;
                    font-size: .85em;
                    font-weight: bold;
                    strong {
                        display: block;
                        & + span {
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        &.noUi-vertical {
            width: 100%;
            min-width: 0;
            height: 100%;
            min-height: 150px;
            margin-top: 0;
            margin-right: 90px;
            margin-bottom: 0;
            margin-left: 15px;
            .noUi-base {
                width: 8px;
            }
            .noUi-handle {
                .tooltip {
                    transform: translateY(-50%);

                    position: absolute;
                    top: 50%;
                    box-sizing: border-box;
                    padding: 1px 4px;
                    text-align: center;
                    white-space: nowrap;
                    background-color: #fff;
                    font-size: .85em;
                    font-weight: bold;
                    strong {
                        display: block;
                        & + span {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    &.initialized {
        [data-type^='range'],
        [data-type^='slide'] {
            display: none;
        }
    }

    .noUi-pips-horizontal {
        right: 0;
        left: 0;
    }
    .noUi-base {
        width: 100%;
        background: $COLOR_GRAY_5;
        box-shadow: inset 0 1px 1px $COLOR_GRAY_1;
    }
    .noUi-origin {
        background: $COLOR_GRAY_2;

        & + .noUi-origin {
            background: $COLOR_GRAY_5;
            box-shadow: inset 0 1px 1px $COLOR_GRAY_1;
        }
    }
    .noUi-handle {
        cursor: -webkit-grab;
        transition: all .25s;
        border-radius: 2px;
        background: $COLOR_DHL_YELLOW;
        &:after {
            transition: all .25s;
        }
    }

    .noUi-active,
    :focus {
        cursor: -webkit-grabbing;
        outline: 0;
        background: $COLOR_GRAY_3;
        box-shadow: 0 3px 6px -3px rgba($COLOR_GRAY_4, .6), 0 -3px 8px -4px rgba($COLOR_GRAY_4, .3) inset;
    }
    [disabled] .noUi-connect,
    [disabled].noUi-connect {
        background: $COLOR_GRAY_5;
    }

    & + input {
        margin-left: 20px;
    }
    .noUi-value {
        cursor: pointer;
    }
}
.slide {
    .noUi-base {
        background: $COLOR_GRAY_5;
        box-shadow: none;
    }
    .noUi-origin {
        background: $COLOR_GRAY_5;
    }

    &.vertical {
        min-width: 150px;
    }

    .slider_object {
        &.noUi-vertical {
            .noUi-base {
                width: 2px;
            }
            .noUi-pips {
                width: 100%;
                padding: 0 0 0 8px;
            }
            .noUi-handle {
                .tooltip {
                    left: 48px;
                }
            }
        }
        &.noUi-horizontal {
            height: 2px;
            .noUi-base {
                height: 2px;
            }
            .noUi-handle {
                .tooltip {
                    transform: translateX(-50%);

                    bottom: 100%;
                    left: 10px;
                }
            }
        }
    }
    &.noticks {
        .slider_object {
            &.noUi-vertical {
                .noUi-pips {
                    padding: 0 0 0 2px;
                    .noUi-value {
                        margin-left: 17px;
                    }
                }
                .noUi-handle {
                    &.noUi-handle-lower,
                    &.noUi-handle-upper {
                        .tooltip {
                            left: $handleSize+12;
                        }
                    }
                }
            }
            &.noUi-horizontal {
                .noUi-pips {
                    padding: 0;
                    .noUi-value {
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}
.range {
    .slider_object {
        &.noUi-horizontal {
            .noUi-handle {
                &.noUi-handle-lower {
                    .tooltip {
                        transform: translateY(-50%);

                        top: 50%;
                        right: $handleSize+5;
                    }
                }
                &.noUi-handle-upper {
                    .tooltip {
                        transform: translateY(-50%);

                        top: 50%;
                        left: $handleSize+5;
                    }
                }
            }
        }
        &.noUi-vertical {
            .noUi-handle {
                left: $handleSize*-0.4;
                &.noUi-handle-lower,
                &.noUi-handle-upper {
                    .tooltip {
                        left: $handleSize+18;
                    }
                }
            }
        }
    }
    &.tooltips {
        .slider_object {
            &.noUi-horizontal {
                margin-right: 70px;
                margin-left: 70px;
            }
        }
    }
    &.noticks {
        .slider_object {
            &.noUi-vertical {
                .noUi-pips {
                    padding: 0 0 0 10px;
                }
                .noUi-handle {
                    &.noUi-handle-lower,
                    &.noUi-handle-upper {
                        .tooltip {
                            left: $handleSize+12;
                        }
                    }
                }
            }
            &.noUi-horizontal {
                .noUi-pips {
                    padding: 0;
                    .noUi-value {
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

.overlay-grey {
    .range,
    .slide {
        color: $COLOR_GRAY_1;
    }

    .range .slider_object.noUi-horizontal .noUi-handle .tooltip,
    .slide .slider_object.noUi-horizontal .noUi-handle .tooltip {
        color: $COLOR_GRAY_1;
        background-color: transparent;
    }

    .range .slider_object.noUi-vertical .noUi-handle .tooltip,
    .slide .slider_object.noUi-vertical .noUi-handle .tooltip {
        color: $COLOR_GRAY_1;
        background-color: $COLOR_GRAY_7;
    }
}