<div class="ewf-modal" ng-class="dialogWidth ? 'ewf-modal_width_' + dialogWidth : null">
    <div class="ewf-modal__dialog">
        <div class="ewf-modal__wrapper">
            <div class="ewf-modal__content">
                <button class="btn-close"
                        ng-if="!noCloseButton"
                        ng-click="ewfModalCtrl.dismiss();">
                </button>
                <div class="ewf-modal__header"
                     ng-if="!noHeader">
                    <h3 class="ewf-modal__title">
                        <span ng-if="title" ng-bind="title"></span>
                        <span ng-if="nlsTitle" nls="{{nlsTitle}}"></span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
