/// Grid options

/// To learn more about `modular-scale()` see [Bourbon docs](http://bourbon.io/docs/#modular-scale).

/// Sets the relative width of a single grid column.

$column: modular-scale(3, 1em, $golden) !default;

/// Sets the relative width of a single grid gutter.

$gutter: modular-scale(1, 1em, $golden) !default;

/// Sets the total number of columns in the grid.

$grid-columns-number: 12 !default;

$grid-full-width: $column * $grid-columns-number + $gutter * ($grid-columns-number - 1);
$grid-gutter: percentage($gutter / $grid-full-width);

/// Grid functions

@function flex-grid($columns) {
    $width: $columns * $column + ($columns - 1) * $gutter;
    @return percentage($width / $grid-full-width);
}

/// Grid mixins

@mixin span-columns($column-num) {
    float: left;
    margin-left: $grid-gutter;
    width: flex-grid($column-num);

    &:first-child {
        margin-left: 0;
    }
}

@mixin column($column-num) {
    float: left;
    margin-left: $grid-gutter;
    width: flex-grid($column-num);
}


@mixin shift($shift) {
    margin-left: $shift * flex-grid(1) + ($shift + 1) * $grid-gutter;

    &:first-child {
        margin-left: $shift * flex-grid(1) + $shift * $grid-gutter;
    }
}


@mixin row () {
    @include clearfix();
    display: block;
}