<div class="container">
    <div class="area">
        <div ng-if="verificationController.verified">
            <h1 nls="registration.email_address_verification_title"></h1>
            <div>
                <p nls="registration.email_address_verification_success_msg"></p>
            </div>
        </div>

        <div ng-if="verificationController.invalid">
            <h1 nls-bind nls="{{verificationController.failMessageTranslationKey}}"></h1>
            <div ng-if="verificationController.expired">
                <p nls="registration.email_address_verification_expired_msg_first_line"></p>
                <p nls="registration.email_address_verification_expired_msg_second_line"></p>
                <button class="btn btn_success"
                   ng-click="verificationController.renewExpiredActivationLink()"
                   nls="registration.email_address_verification_expired_renew_btn">
                </button>
            </div>
        </div>
    </div>
</div>