.print-preview {
    text-align: center;

    &__header {
        text-align: left;
        margin-bottom: $PADDING_LARGE_VERTICAL;
    }

    &__title {
        margin-top: 0;
    }

    &__item {
        position: relative;
        display: inline-block;
        width: 180px;
        margin: 0 $PADDING_LARGE_HORIZONTAL $PADDING_LARGE_VERTICAL;
        color: $COLOR_GRAY_1;
        background-color: $COLOR_GRAY_7;
    }

    &__img {
        cursor: zoom-in;
        max-width: 100%;
        margin-bottom: $PADDING_BASE_VERTICAL;
        border: 1px solid $COLOR_GRAY_5;
    }

    &__icon {
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        color: rgba(#000,0.3);
        font-size: 70px;
        cursor: zoom-in;
    }

    &__copies-number {
        font-size: .8em;

        .input {
            font-size: 1em;
        }
    }
}