.file-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    border: 1px solid $COLOR_GRAY_5;

    &:empty {
        margin: 0;
    }

    &_downloaded {
        border: 1px solid $COLOR_GRAY_5;

        .file-list__item {
            background-color: $COLOR_GRAY_7;
        }
    }

    &__item {
        @include clearfix;

        padding: 10px;
        line-height: 1;
        border-top: 1px solid $COLOR_GRAY_5;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;

        &:first-child {
            border-top-width: 0;
        }
    }

    &__file-name {
        word-break: break-all;
        margin-bottom: 10px;
    }
}