// TODO: Rewrite HTML to use new classes
.tabs {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $COLOR_GRAY_5;

    &__labels {
      margin-bottom: -1px;
    }

    &__item {
        position: relative;
        z-index: 2;
        display: inline-block;
        box-sizing: border-box;
        margin: 0 5px 0 0;
        a, span {
            position: relative;
            display: block;
            margin-bottom: -1px;
            padding: 5px 12px 3px;
            text-decoration: none;
            color: $COLOR_GRAY_4;
            border: 0 solid transparent;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            cursor: pointer;
            &:hover {
                color: $COLOR_BLUE;
            }
        }
        &.is-active {
            a, span {
                color: $COLOR_GRAY_1;
                border: 1px solid $COLOR_GRAY_5;
                border-bottom: 1px solid #fff;
                background: $white;
            }
        }
    }

    &_vertical {
        border-bottom: 0;

        .tabs__item {
            display: block;
            margin: 5px 0;

            &:first-child {
                margin-top: 0;
            }

            a {
                margin-bottom: 0;
                border-radius: 2px;
            }

            &.is-active {
                a {
                    border: 1px solid $COLOR_GRAY_5;
                }
            }
        }

        &_full {
            position: static;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                background: #fafafa;
                border-right: 1px solid #ccc;
                box-sizing: content-box;

                @for $i from 1 through 12 {
                    .col-#{$i}_tabs & {
                        width: flex-grid($i);
                    }
                }
            }

            .tabs__item {
                margin: 0;

                a {
                    border: 1px solid transparent;
                    border-radius: 0;
                    padding: 10px;
                    font-size: 12px;
                    box-sizing: border-box;
                }

                &.is-active {
                    a {
                        border-right-color: #fff;
                        border-left: 3px solid #ccc;
                        padding-left: 12px;
                        padding-right: 0px;
                        font-weight: bold;
                        margin-right: -1px;
                    }
                }

                &:first-child {
                    a {
                        border-top: 0;
                    }
                }
            }

            .tabs__title {
                position: relative;
                margin: 0;
                font-weight: bold;
                color: $COLOR_GRAY_3;
                font-size: 12px;
                padding: 5px 10px;
                background-color: $COLOR_GRAY_6;
            }
        }
    }
}

.tab-content {
    padding: 20px 20px 20px 0;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: inline-block;
        margin: 0 5px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.menu {
    z-index: 100;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid $COLOR_GRAY_5;
    background: $COLOR_GRAY_8;
    font-size: 12px;

    &__item {
        display: block;
        margin: 0;
        &:nth-child(odd) {
            a {
                background: $white;
            }
        }
        a {
            display: block;
            padding: 10px;
            background: $COLOR_GRAY_8;
            line-height: 1;
            &:hover {
                background: lighten($COLOR_BLUE, 40%);
            }
        }
    }
}

.menu-bar {
    @include clearfix;

    position: fixed;
    z-index: 999;
    top: $HEADER_HEIGHT + $HEADER_NAV_HEIGHT;
    width: 100%;
    max-width: $CONTAINER_DESKTOP;
    margin: 0 auto;

    &__items {
        display: inline-block;
        float: right;
        box-sizing: border-box;
        margin: 0;
        padding: 15px;
        list-style: none;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background: $COLOR_GRAY_3;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        position: absolute;
        right: 0;
    }
    &__item {
        display: inline-block;
        margin: 0 11px 0 0;
        &:last-child {
            margin-right: 0;
        }
    }
}