<div ewf-modal nls-title="shipment.pickup_tsa_privacy_act_notice" id="customsInvoiceTemplates">
    <p>
        PRIVACY ACT NOTICE
    </p>
    <p>
        49 USC 114 authorizes the collection of this information. The information you provide will be used to qualify
        you or verify your status as a possible "known shipper".
    </p>
    <p>
        Providing this information is voluntary, however, failure to provide the information will prevent you from
        qualifying as a "known shipper". This information will be disclosed to TSA personnel and contractors or other
        agents including IACs in the maintenance and operation of the known shipper program.
    </p>
    <p>
        TSA may share the information with airport operators, foreign air carriers, IACs, law enforcement agencies,
        and others in accordance with the Privacy Act, 5 USC Section 552a.
    </p>
    <p>
        For additional details, see the system of records notice for Transportation Security Threat Assessment System
        (DHS/TSA 002) published in the Federal Register.
    </p>
    <p>
        For additional details on the content of this notice please visit
        <a ng-href="http://www.tsa.gov/" target="_blank">www.tsa.gov</a> or
        <a ng-href="http://gpoaccess.gov/" target="_blank">www.gpoaccess.gov</a>.
    </p>
    <footer class="area__footer a-right">
        <a class="btn btn_success" ng-click="ewfModalCtrl.close()"><span nls="common.modal_ok_button_label"></span></a>
    </footer>
</div>
