.invose-type {
    @include clearfix;

    margin: 0 0 10px;
    padding: 5px 5px 5px 10px;
    line-height: 35px;


    &__title {
        margin: 0;
        line-height: 35px;
    }

    &__logo {
        float: right;
        width: 120px;
        height: 35px;
        padding: 0 10px;
        background: $COLOR_DHL_YELLOW url('../img/dhl-logo.svg') 50% 50% no-repeat;
        background-size: 100px auto;
    }
}

.saved-invoice {
    overflow-y: auto;
    height: 175px;
    border: 1px solid $COLOR_GRAY_5;

    &__list {
    }

    &__item {
        padding: 10px;

        &:nth-child(odd) {
            background: rgba(128,128,128,.05);
        }
    }

    &__header {
        margin-bottom: 10px;
    }

    &__content {
        margin-left: 30px;

        p {
            margin: 0;
        }
    }

    &__title {
        display: inline-block;
        margin: 0;
    }

    &__type {
        margin-left: 30px;
    }

    &__subtitle {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
}