.home-page {
    .main {
        padding-top: 0;
    }
}

.home-masthead {
    position: relative;
    margin-bottom: 40px;
    padding: 30px 0;
    background-repeat: no-repeat;
    background-position: center 35%; //Will be better chenge to "center 0" and update images for this
    background-size: cover;

    .container {
        padding-top: $HEADER_HEIGHT + $HEADER_NAV_HEIGHT;
    }
}

.home-form {
    $size: 28px;
    $spacing: 8px;
    $border: 3px;

    color: #fff;

    &__tab {
        font-size: 14px;
    }

    &__tab-radio {
        display: none;
        &:checked + .home-form__tab-label {
            color: $COLOR_GRAY_1;
            background: $COLOR_DHL_YELLOW;
            font-weight: bold;
        }
    }

    &__tab-label {
        display: inline-block;
        padding: 10px 15px 7px 15px;
        cursor: pointer;
        background: #000; // For old IE
        background: rgba(0,0,0,0.8);

        &:hover {
            background: rgba(0,0,0,0.9);
        }
    }

    &__content {
        padding: 20px;
        border-top: 4px solid $COLOR_DHL_YELLOW;
        background: #000; // For old IE
        background: rgba(0,0,0,.8);
    }

    &__address {
        position: relative;
        padding: 20px 175px 20px 60px;
    }

    &__address-field {
        .label {
            color: #fff;
            font-size: 14px;
        }
    }

    &__address-drop {
        padding: 20px 20px 10px;
        color: $COLOR_GRAY_2;
        background-color: #fff;
    }

    &__circle {
        position: absolute;
        top: 38px;
        left: 7px;
        box-sizing: border-box;
        width: $size;
        height: $size;
        text-align: center;
        text-indent: .05em;
        color: #fff;
        border: $border solid $COLOR_DHL_YELLOW;
        border-radius: $size/2;
        line-height: $size - ($border * 2);
    }

    &__dots {
        position: absolute;
        top: $size + $spacing + 36px;
        bottom: ($size/-2 - 18);
        left: 21px;
        margin-left: -1px;
        border-left: 2px dotted $COLOR_DHL_YELLOW;

        &:before {
            $size: 12px;

            position: absolute;
            top: 50%;
            left: $size/-2 - 1;
            width: $size;
            height: $size;
            margin-top: $size/-2;
            content: '';
            border-radius: $size/2;
            background: $COLOR_DHL_YELLOW;
        }
    }

    &__btn {
        position: absolute;
        top: 31px;
        left: 540px;
    }

    &__note-item {
        position: relative;
        padding-left: 58px;
    }

    &__note-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 38px;
        text-align: center;
    }
}

.features {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        i {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            text-align: center;
        }
    }
}

.login {
    margin-bottom: 20px;
    padding: 20px;
    color: $COLOR_GRAY_1;
    background-color: $COLOR_GRAY_5;
    font-size: .85em;

    & > :first-child {
        margin-top: 0;
    }

    // TODO: Delete after adding CQ namespace
    &.section {
        margin: 0;
        padding: 0;
    }

    &__remember {
        margin: 4px 0 0;
    }

    .label {
        margin-bottom: 2px;
    }

    .field-wrapper {
        padding-right: 0;
    }
}



.teaser {
    position: relative;
    background-color: $white;

    &__title {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 10px;
        padding: 12px 20px 40px;
        background: linear-gradient($COLOR_DHL_YELLOW, $COLOR_DHL_YELLOW, transparent);
    }

    &__details {
        padding: 20px;
        min-height: 275px;
        font-size: 14px;

        > *:first-child {
            margin-top: 0;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__links {
        padding: 0;
        list-style: none;
    }
}