.log {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    &__background {
        position: absolute;
        z-index: 0;
        top: -100px;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__label {
        color: white;
    }

    &__icon {
        padding-right: 20px;
    }

    &__header {
        margin-top: 0;
        color: $COLOR_DHL_YELLOW;
        font-size: 28px;
        font-weight: normal;
    }

    &__item {
        padding-top: 10px;
    }

    &__alert {
        margin-top: -50px;
        margin-bottom: 30px;
    }
}

.help {
    &__link {
        text-decoration: underline;
    }

    &__icon {
        margin-right: 5px;
        color: #189aca;
    }
}