.dhl-shipment-reference {
  // GRID
  .data-table {
    &__cell {
      &.edit-delete-case {
        width: 80px;
      }
    }
  }
}

.dhl-digital-customs-invoices {
  .file-list {
    border: 1px solid #ccc;
  }

  .check-icon {
    display: inline-block;
    margin: 0;
    font-weight: normal;

    @include dhlicon(check, after, all) {
      $iconSize: 14px;
      position: relative;
      top: $iconSize - 17;
      width: $iconSize;
      height: $iconSize;
      margin-left: 5px;
      color: $BODY_BG;
      border-radius: $iconSize;
      background-color: $COLOR_GREEN;
      font-size: $iconSize - 5;
      line-height: $iconSize;
    }
  }
}

.dhl-notification-sharing {

  // WYSIWYG SECTION
  &__editor {
    $PADDING: 10px;
    $BG_DARK: #817f81;
    $BG_LIGHT: #efedef;
    $BG_GRADIENT: linear-gradient(to bottom, rgb(254, 254, 254), rgb(250, 250, 250));
    $BORDER_COLOR: #e4e2e4;

    margin-top: 10px;
    padding: $PADDING;
    background: $BG_DARK;

    &-main {
      background: white;
    }

    &-aside {
      position: absolute;
      border: 1px solid $BG_LIGHT;
      top: $PADDING;
      right: $PADDING;
      bottom: $PADDING;
      font-size: 0.8em;
      letter-spacing: 0.1pt;
      background: white;
      cursor: default;

      .heading {
        display: block;
        width: 100%;
        height: 24px;
        border-bottom: 1px solid $BORDER_COLOR;
        text-align: center;
        font-weight: bold;
        line-height: 2em;
        background: $BG_LIGHT;
        background-image: $BG_GRADIENT;
      }

      ul {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 24px;
        bottom: 0;
        overflow-y: auto;
      }

      li {
        border-bottom: 1px solid $BORDER_COLOR;
        margin: 0;
        padding: 3px;
        list-style: none;
      }

      a {
        cursor: grab;
        color: black;
        &.grabbed {
          cursor: grabbing;
        }
      }
    }

  }
}