<div ewf-modal title="Would you like to save this shipment?">
    <div class="section__content">
        <p>Naming your shipment is optional. If you do not name your shipment, a temporary ID will be assigned to it for you. This name will appear in your manage shipment section. </p>
        <div class="row single-line">
            <label>Save As:</label>
            <input type="text" class="input input_width_half" placeholder="RochesterUSA_LondonUK" ng-model="toolbarCtrl.shipmentName">
            <div class="msg-error"
               ng-repeat="error in toolbarCtrl.errors"
               nls="{{error}}">
            </div>
            <button class="btn btn_success btn_regular" ng-click="toolbarCtrl.saveShipmentForLater()">Save Name or Continue</button>
        </div>
    </div>
</div>
