<ewf-modal>
    <div column-customization>
        <div id="modal_customizeColumns" class="modal full-width" ng-class="{visible: ewfGridCtrl.getColumnCustomizationVisibility()}">
            <table class="table table_zebra">
                <tbody>
                    <tr>
                        <th nls="address-book.column_1_title"></th>
                        <th nls="address-book.column_2_title"></th>
                        <th nls="address-book.column_3_title"></th>
                        <th nls="address-book.column_4_title"></th>
                        <th nls="address-book.column_5_title"></th>
                    </tr>
                    <tr>
                        <td>
                            <span class="select">
                                <select ng-model="ewfGridCtrl.selectedColumns.column1"
                                        ng-options="columns.translatedTitle for columns in ewfGridCtrl.attributes.availableColumns track by columns.alias"></select>
                            </span>
                        </td>
                        <td>
                            <span class="select">
                                <select ng-model="ewfGridCtrl.selectedColumns.column2"
                                        ng-options="columns.translatedTitle for columns in ewfGridCtrl.attributes.availableColumns track by columns.alias"></select>
                            </span>
                        </td>
                        <td>
                            <span class="select">
                                <select ng-model="ewfGridCtrl.selectedColumns.column3"
                                        ng-options="columns.translatedTitle for columns in ewfGridCtrl.attributes.availableColumns track by columns.alias"></select>
                            </span>
                        </td>
                        <td>
                            <span class="select">
                                <select ng-model="ewfGridCtrl.selectedColumns.column4"
                                        ng-options="columns.translatedTitle for columns in ewfGridCtrl.attributes.availableColumns track by columns.alias"></select>
                            </span>
                        </td>
                        <td>
                            <span class="select">
                                <select ng-model="ewfGridCtrl.selectedColumns.column5"
                                        ng-options="columns.translatedTitle for columns in ewfGridCtrl.attributes.availableColumns track by columns.alias"></select>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn_right close-modal" ng-click="ewfGridCtrl.updateVisibleColumns()" nls="address-book.update_button_title"></a>
            <a class="x-button close-modal" ng-click="ewfGridCtrl.hideColumnCustomizationDialog()"></a>
        </div>
    </div>
</ewf-modal>