@font-face {
    font-family: $FONT_NAME;
    src: url($FONT_PATH + $FONT_NAME + '.eot');
    src: url($FONT_PATH + $FONT_NAME + '.eot?#iefix') format('eot'),
         url($FONT_PATH + $FONT_NAME + '.woff') format('woff'),
         url($FONT_PATH + $FONT_NAME + '.ttf') format('truetype');
}

.#{$ICONS_CLASS},
[class^="#{$ICONS_CLASS}"],
[class*=" #{$ICONS_CLASS}"] {
    @include dhlicon (all) {
    }
}

@each $name, $char in $FONT_ICONS {
    .#{$ICONS_CLASS}-#{$name}:before {
        content: variable-icon-font($char);
    }
}