<div ewf-field="password" class="field-wrapper ewf-passwd-ver-info">
    <label class="label" for="pswd" nls="registration.password_input_title"></label>
    <input id="pswd"
           name="pswd"
           class="input input_width_full"
           type="password"
           autocomplete="off"
           ng-model="ewfPasswordCtrl.password"
           ewf-input-password="{{ewfPasswordCtrl.formName}}.password"
           ewf-input="{{ewfPasswordCtrl.formName}}.password"
           ng-blur="ewfPasswordCtrl.parentForm.pswd.$dirty = true"
           ewf-validate-required
           exclude-from-local-storage/>
    <span class="validation-mark"></span>
    <span class="msg-error"
       ng-if="ewfPasswordCtrl.showErrorIfPasswordIsEmpty(ewfInputPasswordCtrl)"
       nls="errors.required_field_error_password_is_empty"></span>
    <div class="ewf-require-ver-info" ng-if="ewfInputPasswordCtrl.validationIsVisible">
        <p nls="common.your_password_must"></p>
        <ul class="">
            <li class="ewf-not-complete-ver-info" ng-repeat="errorMessage in ewfInputPasswordCtrl.validationErrorMessage.password.password" ewf-show-validation-info>
                <i class="" ng-bind="errorMessage.translation"></i>
            </li>
        </ul>
    </div>
</div>
<div ewf-field="pswd_repeat" class="field-wrapper">
    <label class="label" for="pswd_repeat" nls="registration.re_enter_password_field_label"></label>
    <input id="pswd_repeat"
           name="pswd_repeat"
           class="input input_width_full"
           autocomplete="off"
           type="password"
           ng-disabled="ewfPasswordCtrl.parentForm.pswd.$invalid || !ewfPasswordCtrl.parentForm.pswd.$dirty"
           ng-model="ewfPasswordCtrl.repeatPassword"
           ewf-validate-password-equality="{passwordField: 'ewfPasswordCtrl.password', operation: 'matches', errorMessage: 'errors.provided_passwords_do_not_match'}"
           ewf-validate-required
           ng-model-options="{ updateOn: 'blur'}"
           ng-trim="false"
           ewf-input="{{ewfPasswordCtrl.formName}}.pswd_repeat"
           exclude-from-local-storage/>
    <span class="validation-mark"></span>
    <span class="msg-error" ng-if="ewfPasswordCtrl.password !== ewfPasswordCtrl.repeatPassword" nls="errors.provided_passwords_do_not_match"></span>
    <div ewf-field-errors></div>
</div>