<script>
    document.createElement('ewf-form');
    document.createElement('ewf-field');
    dhl.registerComponent('directives/ewf-form/ewf-form-directive');
    dhl.registerComponent('directives/ewf-input/ewf-input-controller');
    dhl.registerComponent('directives/ewf-validate/ewf-validate-pattern-directive');
    dhl.registerComponent('directives/ewf-validate/ewf-validate-required-directive');

</script>
<div ewf-modal class="modal visible modal-edit-link" id="modal_editLink">
    <form ewf-form="editLink" name="editLink">
        <h3>Edit Quick Link</h3>
        <div class="field-wrapper" ewf-field="linkName">
            <label for="link_name" class="label">Name</label>
            <input type="text" class="input modal-edit-link__text-input" id="link_name" ng-model="profileEditQuickLinkDialogCtrl.linkName" ewf-input="editLink.linkName" ewf-validate-required="" >
            <span class="validation-mark"></span>
            <div ewf-field-errors></div>
        </div>

        <div class="field-wrapper" ewf-field="linkUrl">
            <label for="link_url" class="label">URL</label>
            <input type="text" class="input modal-edit-link__text-input" id="link_url" ng-model="profileEditQuickLinkDialogCtrl.url"
                   ewf-input="editLink.linkUrl"
                   ewf-validate-required=""
                   ewf-validate-pattern="{{profileEditQuickLinkDialogCtrl.linkPattern}}"
                   ewf-validate-pattern-message="my-profile.error_pattern_quick_link">
            <span class="validation-mark"></span>
            <div ewf-field-errors></div>
        </div>
        <div class="row a-right modal-edit-link__btn-save">
            <button type="submit" ng-click="editLink.$valid && profileEditQuickLinkDialogCtrl.confirmAction() && ewfModalCtrl.close()" class="btn">Save</button>
        </div>
    </form>
</div>